/* ------Header-------- */
.menubar{
    position: fixed;
    background-size: cover;
    width:100%;
    height:60px;
    z-index: 10;
    top:0;
    left:0;
}
.home{
    position: absolute;
    width:10rem;
    height:80%;
    top:10%;
    left:13%;
}
.home-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('a.png');
    background-size: cover;
    background-position: center;
    background-color:transparent;
    border: none;
}
.menubar-box{
    position: absolute;
    width: 30%;
    height: 80%;
    display: block;
    left:25%;
}
.menubar-address-text{
    position: absolute;
    width: auto;
    color: white;
    top:0;
}
.menubar-phone-text{
    position: absolute;
    width: auto;
    color: white;
    bottom:0;
    left:0;
}
form{
    position: absolute;
    width: 30%;
    height:50%;
    top:25%;
    right:13%;
}
.input-search{
    position: absolute;
    width: 50%;
    height:100%;
    display: block;
    border:transparent;
    border-radius: 10px;
}
.button-search{
    position: absolute;
    right:50%;
    bottom: 5%;
    border:transparent;
    border-radius: 10px;
    background-color: transparent;
    align-items: center;
    height:100%;
}
.menu-btn{
    position: absolute;
    right:-100%;
    top:-30%;
}
#cart{
    position: absolute;
    right:20%;
    width:25%;
    border: 100px;
    border-radius: 10px;
    background-color: transparent;
    border-color: #850661;
    height:100%;
    color:white;
}
#cart:hover{
    background-color: #9317a3;
    font-weight: bold;
    text-decoration: underline;
}
.menubar-background{
    position: absolute;
    width: 100%;
    height:100%;
}
.logo{
    position: relative;
    width:470px;
    height:140px;
    margin-left: auto;
    margin-right: auto;
    top:90px;
}
.logo-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    background-image: url('logo.png');
    background-size: cover;
    background-position: center;
    background-color:transparent;
}
.logo-btn:hover{
    cursor: pointer;
}
.button-box{
    position: sticky;
    top:60px;
    background-image: url('menubar.png');
    background-repeat: no-repeat;
    margin-top: 130px;
    width:100%;
    z-index: 9;
}
.button-select button{
    position: sticky;
    top:130px;
    background-color:transparent;
    border: 1px solid rgb(116, 116, 116);
    color: rgb(255, 255, 255);
    padding: 10px 24px;
    cursor: pointer;
    float: left;
    border-bottom: 0px;
    border-top:0px;
}
  .button-select button:not(:last-child) {
    border-right: none;
}
.button-select:after {
    content: "";
    clear: both;
    display: table;
    cursor: pointer;
}
  
.button-select button:hover {
    background-color: #9317a3;
    font-weight: bold;
    text-decoration: underline;
}
/* --------content---------- */

.content-box{
    position: relative;
    top: 100px;
    width: 80%;
    height: 650px;
    margin: auto;
    left: 0%;
  }
  .input-content{
    padding: 0.25% 1% 0.25% 1%;
    border-radius: 10px;
    width: 22.5%;
    height: 9%;
    border: 2px solid #850661;
    font-size: 120%;
  } 
  .line{
      position: absolute;
      width: 100%;
      margin: 20px 0 20px 0;
      border-top: 1px solid rgb(119, 14, 138);
      bottom: 6%;
  }
  .box-content-name {
      position: absolute;
      height: 50%;
      width: 100%;
    }
  .box-content-author {
    position: absolute;
    height: 50%;
    width: 100%;
    left: 30%;
  }  
  .box-content-desc {
    position: absolute;
    height:50%;
    width: 108.5%;
    top: 12%;
  }
  .box-content-pages{
    position: absolute;
    height: 50%;
    width: 100%;
    left: 30%;
    bottom: -19%;
  }
  .box-content-date{
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: -19%;
  }
  .box-content-category{
    position: absolute;
    position: 0;
    height: 50%;
    width: 100%;
    bottom: -29%;
  }
  .btn-submit{
    position: absolute;
    border: 2px solid #850661;
    font-size: 120%;
    border-radius: 10px;
    width: 20%;
    background-color: white ;
    color: #850661;
    height: 7%;
    bottom: 0;
    right: 7%;
  }
  .btn-submit:hover{
    border: 2px solid #850661;
    border-radius: 10px;
    background-color: #850661 ;
    color: white;
  }
  .text-content{
      color: #850661;
      font-size: 125%;
  }
  .required::after {
      content: "*";
      color: red;
      margin-left: 5px;
  }
  .img-book{
    position: absolute;
    left:60%;
    top: 1%;
  }
  .img{
    position: absolute;
    left: 60%;
    height: 80%;
    width: 40%;
    top: 5%;
  }
  .imgg{
    position: absolute;
    height:100%;
    width: auto;
    top: 4%;
  }
